
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../images/flat-lay-workstation-with-copy-space-laptop.jpg');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-attachment: fixed; /* This will make the background fixed while scrolling */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        float: left;
    }

    .navbar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

.content {
    margin-top: 20px;
    background-color: darkgray;
}
